*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background: linear-gradient(140deg, #423578, #612b4f);
}

.wrapper {
  padding: 3rem;
  border: 4px solid #fff;
  width: calc(100% - 20rem);
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 1.6rem;
}
.wrapper::-webkit-scrollbar {
  -webkit-appearance: none;
}
.wrapper::-webkit-scrollbar:horizontal {
  height: 1rem;
}
.wrapper::-webkit-scrollbar-thumb {
  background-color: #a18cf5;
  border-radius: 8px;
}
.wrapper .btn {
  min-width: 15rem;
  min-height: 15rem;
  font-size: 4rem;
  display: block;
  background-color: #7043a5;
  border: none;
  color: #fff;
  cursor: pointer;
}